

<!--{include header}-->
<link rel="stylesheet" href="{$HttpTemplatePath}static/css/group.css?v={$cachekey}" type="text/css" media="screen" />
<script src="/static/js/group.js?v={$cachekey}"></script>





<div class="detail">

    <div>
        <div class="info" style="margin-top: 10px;">
            <img src="{$group['avatar']}" class="avatar" style="width: 70px;height: 70px;"/>
            <ul>
                <li>彩匠号：</li>
                <li>{$group['number']}</li>
            </ul>
            <ul>
                <li>昵称：</li>
                <li>
                    {$group['nickname']}
                </li>
            </ul>
        </div>

    </div>
    <div>

        <div class="info">
           <textarea id="content" placeholder="我是..."></textarea>

        </div>
    </div>


</div>

<div class="layer_btns cancel" onclick="closethis();"><i class="icon-cancel"></i>关闭</div>
<div class="layer_btns ok" onclick="apply();"><i class="icon-ok"></i>确认</div>
<script>

    window.onload=function () {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.iframeAuto(index);
    }
    function closethis() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
    var userid=parseInt('{$_SESSION['userid']}');

    function  apply() {
        var postdata={userid:userid,friend_uid:'{$group['id']}',mark:$('#content').val(),from:'{$_GET['from']}'};
             var loading=layer.load();
        $.post("../api/user.php?act=applyAddFriend",postdata, function(result){
            layer.close(loading);
            var res=JSON.parse(result);
            if(res.code=='200'){
                parent.layer.msg(res.data.message,{ type: 1, anim: 2 ,time:1000});

                if(res.data.send==2){

                    parent.open_chatarea({$group['id']},'{$group['nickname']}','{$group['avatar']}',0);

                }
                var index = parent.layer.getFrameIndex(window.name);parent.layer.close(index);

            }else{
                layer.msg("网络连接失败",{ type: 1, anim: 2 ,time:1000});
            }

        });


    }




</script>


<!--{include footer}-->