<!--{include header}-->
 <form action="plat_log.php" method="post" target="_self" style="background-color:#fff;line-height:40px;padding-left:10px;padding-top:5px;">


<input type="text" name="begintime" id="begintime" value="{$_POST['begintime']}" class="Wdate" style="width:100px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',alwaysUseStartDate:false})">
至
	 <input type="text" name="endtime" id="endtime" value="{$_POST['endtime']}" class="Wdate" style="width:100px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',alwaysUseStartDate:false})">
                                                                  <input type="submit" class="button" onclick="" value=" 查询 ">

                        </form>
<!--{loop $list $key $value}-->
    <div class="wap_list">


		                               <div>
                                  <span style="color:#d5d5d5;"> 金额：</span>
                                  
                                  
                                  <span style="color:#F73E54">{$value['money']}元</span>
          

                  

                                    <span style="float:right;"><span style="color:#d5d5d5;padding-left:10px"> 状态：</span><span>{$plat_status[$value['status']]}</span></span>
                                                </div>
                                                    <div>
 <span style="color:#d5d5d5;">提现账户：</span>{$value['bank_info']}
                                                </div>
                                                <div>


  <span style="color:#d5d5d5;">${date('Y-m-d H:i:s',$value['time'])}</span>
                                                </div>
                          
                                                <!--{if $value['mark']}-->
                                                                                 <div>
 <span style="color:#d5d5d5;">管理员回复：</span> <span style="color:#F73E54">{$value['mark']}</span>
                                                </div>
                                                <!--{/if}-->
</div>

<!--{/loop}-->
<div class='page'>
  {$page_html}
</div>
       
<!--{include footer}-->